@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        /* Estilos globales */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        /* Estilos del encabezado */
        header {
            /*background-color: #333;*/
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        /* Estilos del carrusel */
        .carousel {
            width: 100%;
            height: 600px;
            overflow: hidden;
        }

            .carousel img {
                width: 100%;
                height: auto;
            }

        /* Estilos de la sección de servicios */
        .services {
            background-color: #f1f1f1;
            padding: 20px;
            text-align: center;
        }

            .services h2 {
                margin-top: 0;
            }

            .services ul {
                list-style-type: none;
                padding: 0;
            }

            .services li {
                display: inline-block;
                margin: 10px;
            }

        /* Estilos del encabezado */
        header {
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        /* Estilos del contenido */

        .flex-item {
            display: flex;
            align-items: center;
            margin-bottom: 40px;
        }

        .image-container {
            flex-basis: 50%;
        }

            .image-container img {
                width: 100%;
                height: auto;
            }

        .text {
            flex-basis: 50%;
            padding: 20px;
        }

        /* Estilos del contenido */
        .content {
            /*max-width: 800px;
            margin: 20px auto;*/
            padding: 20px;
            background-color: #f1f1f1;
        }

            .content h2 {
                margin-top: 0;
            }

            .content p {
                line-height: 1.5;
            }

        .testimonial {
            display: flex;
            align-items: center;
            margin-bottom: 30px;
            border-radius: 10px;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
            overflow: hidden;
        }

            .testimonial .photo {
                flex-basis: 30%;
            }

                .testimonial .photo img {
                    width: 100%;
                    height: auto;
                    border-radius: 10px 0 0 10px;
                }

            .testimonial .text {
                flex-basis: 70%;
                padding: 20px;
                background-color: #fff;
                border-radius: 0 10px 10px 0;
            }

            .testimonial h2 {
                margin-top: 0;
                margin-bottom: 10px;
                font-size: 20px;
                color: #333;
            }

            .testimonial p {
                color: #666;
            }

        /* Estilos del pie de página */
        footer {
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        .footer-info {
            margin-top: 20px;
            color: #ccc;
            font-size: 14px;
        }

            .footer-info a {
                color: #fff;
                text-decoration: none;
            }

        .social-media {
            margin-top: 20px;
        }

            .social-media a {
                display: inline-block;
                margin-right: 10px;
                color: #fff;
                text-decoration: none;
                font-size: 18px;
            }

            .social-media img {
                max-width: 30px;
                height: auto;
            }

        .branch-locations {
            margin-top: 20px;
        }

            .branch-locations ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
                text-align: left;
            }

                .branch-locations ul li {
                    margin-bottom: 10px;
                }
    </style>
</head>
<body>
    <header>
        <h1>Happy Pet</h1>
    </header>

    <div class="carousel">
        <div id="carouselExampleCaptions" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7" aria-label="Slide 8"></button>
            </div>

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <slide>
                        <img src="~/img/img1.jpg" class="d-block w-99 mx-auto rounded bottom-blur" alt="Aun gato acostado en una cama para gatos">
                        <div class="carousel-caption d-none d-md-block">>
                        </div>
                    </slide>
                </div>
                <div class="carousel-item">
                    <slide>
                        <img src="~/img/img2.jpg" class="d-block w-99 mx-auto rounded bottom-blur" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </slide>
                </div>
                <div class="carousel-item">
                    <slide>
                        <img src="~/img/img3.jpg" class="d-block w-99 mx-auto rounded bottom-blur" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </slide>
                </div>
                <div class="carousel-item">
                    <slide>
                        <img src="~/img/img4.jpg" class="d-block w-99 mx-auto rounded bottom-blur" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </slide>
                </div>
                <div class="carousel-item">
                    <slide>
                        <img src="~/img/img5.jpg" class="d-block w-99 mx-auto rounded bottom-blur" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </slide>
                </div>
                <div class="carousel-item">
                    <slide>
                        <img src="~/img/img6.jpg" class="d-block w-99 mx-auto rounded bottom-blur" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </slide>
                </div>
                <div class="carousel-item">
                    <slide>
                        <img src="~/img/img7.jpg" class="d-block w-99 mx-auto rounded bottom-blur" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </slide>
                </div>
                <div class="carousel-item">
                    <slide>
                        <img src="~/img/img8.jpg" class="d-block w-99 mx-auto rounded bottom-blur" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </slide>

                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <section class="services">
        <h2>Nuestros Servicios</h2>
        <ul>
            <li>Alimentación y Nutrición</li>
            <li>Productos para Mascotas</li>
        </ul>
    </section>


    <div class="content">
        <h2>Bienvenidos a Happy Pet</h2>

        <div class="content">
            <div class="flex-item">
                <div class="image-container">
                    <img src="~/img/img7.jpeg" alt="Imagen izquierda">
                </div>
                <div class="text">
                    <h2>Conócenos</h2>
                    <p>En Happy Pet nos preocupamos por el bienestar de tus mascotas. Contamos con una amplia variedad de productos de alta calidad para cuidar de ellos. Nuestro equipo de expertos está listo para brindarte la mejor atención y asesoramiento en todo momento. ¡Ven y descubre todo lo que tenemos para ofrecer!</p>
                </div>
            </div>

            <div class="flex-item">
                <div class="text">
                    <h2>¿Quienes somos?</h2>
                    <p>En Happy Pet, nos apasiona el cuidado de las mascotas y nos esforzamos por proporcionarles a nuestros clientes y sus compañeros peludos una experiencia excepcional. Nos enorgullece ofrecer una amplia variedad de productos y servicios para satisfacer todas las necesidades de las mascotas y sus dueños. ¡Visítanos hoy mismo y descubre todo lo que tenemos para ofrecer!</p>
                </div>
                <div class="image-container">
                    <img src="~/img/img8.jpeg" alt="Imagen derecha">
                </div>
            </div>

            <div class="flex-item">
                <div class="image-container">
                    <img src="~/img/img5.jpeg" alt="Imagen izquierda">
                </div>
                <div class="text">
                    <h2>Nuestra mision</h2>
                    <p>En nuestro Pet Shop, nos dedicamos a proporcionar los mejores productos y servicios para tus mascotas. Nos comprometemos a brindar un ambiente seguro y acogedor para que tanto tú como tu mascota se sientan cómodos. Nuestra misión es promover el bienestar y la felicidad de las mascotas, ofreciendo productos de calidad y asesoramiento experto en cuidado animal. Estamos aquí para ayudarte a cuidar y consentir a tus compañeros peludos. ¡Ven y descubre todo lo que tenemos para ofrecerte!</p>
                </div>
            </div>
        </div>

    </div>

   
    <header>
        <h1>Reseñas - Happy Pet </h1>
    </header>

    <div class="content">
        <div class="testimonial">
            <div class="photo">
                <img src="~/img/resena1.jpg" alt="Cliente 1">
            </div>
            <div class="text">
                <h4>Reseña de Cliente</h4>
                <p>
                    El personal del pet shop es extremadamente amable y conocedor. Me brindaron asesoramiento personalizado sobre la alimentación y cuidado de mi mascota, lo cual fue de gran ayuda. Además, la amplia variedad de productos para mascotas disponibles me permitió encontrar todo lo que necesitaba en un solo lugar.
                </p>
            </div>
        </div>
        <div class="testimonial">
            <div class="photo">
                <img src="~/img/resena2.jpg" alt="Cliente 2">
            </div>
            <div class="text">
                <h4>Reseña de Cliente</h4>
                <p>
                    En general, mi experiencia en el Pet Shop fue más allá de mis expectativas. Recomiendo encarecidamente este lugar a todos los dueños de mascotas que buscan productos de calidad y servicios excepcionales. Definitivamente volveré en el futuro.
                </p>
            </div>
        </div>
    </div>

    <footer>
        <div class="footer-info">
            <p>Dirección: Calle Principal #123, Ciudad A, País Y</p>
            <p>Teléfono: +123 456 789</p>
            <p>Email: info@happypet.com</p>
        </div>
        <div class="branch-locations">
            <h4>Sucursales</h4>
            <ul>
                <li>Sucursal 1: Calle de la Rosa, Ciudad B, País Z</li>
                <li>Sucursal 2: Calle del Sol, Ciudad C, País A</li>
                <li>Sucursal 3: Avenida del Parque, Ciudad D, País K</li>
            </ul>
        </div>
        <div class="social-media">
            <a href="#"><img src="~/img/facebook.png" alt="Facebook"></a>
            <a href="#"><img src="~/img/Instagram.png" alt="Instagram"></a>
            <a href="#"><img src="~/img/twitter.png" alt="Twitter"></a>
        </div>
        <p>Todos los derechos reservados &copy; 2023 Happy Pet</p>
    </footer>
</body>
</html>
