<h1>Index Usuario</h1>
<a asp-action="Index" asp-controller="Costos" class="btn btn-success btn-sm">Mirar los Centros de Costos</a>
<a asp-action="Index" asp-controller="Emisor" class="btn btn-success btn-sm">Mirar los Emisores</a>